<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @*<div class="body-bg">    </div>*@
    <div>
        <div class="header-content">
            @RenderSection("Header")
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
    </div>
    <footer class="footer">
        @*<p>&copy; @DateTime.Now.Year - MY PIZZERIA</p>*@
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
